@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


body{
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
}

.left{
	position: fixed;
	background-color: black;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
}

.right{
	position: fixed;
	background-color:white;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.right h1{
	text-align: center;
	margin-top: 50vh;
	z-index: 99;
	font-size: 30px;
}

#failure h1{
  animation-name: failure;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes failure {
  0%   {color: red;}
  100% {color: white;}
}

@keyframes launch {
  25%  {border-bottom: 300px solid orange;}
  50%  {border-bottom: 300px solid black;}
  75%  {border-bottom: 300px solid orange;}
  100% {border-bottom: 300px solid black;}
}

.ground{
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.thrusters{
	display: none;
}

.preparing{
	display: none;
}

.thrusters.show{
	display: block;
}

.preparing.show{
	display: block;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 300px solid black;
	margin-left: -100px;
	transition: bottom 5s;
	z-index: -100;
}



body.body-state1 .rocket,
/*body.body-state5 .rocket*/{
	transition: none;
}

/*rocket bg image*/
body.body-state2 .rocket{
	border-bottom: 300px solid orange;
	transition: none;
	animation-name: launch;
 	animation-duration: 2s;
  	animation-iteration-count: infinite;

}

body.body-state3 .rocket{
	border-bottom: 300px solid green;
}
body.body-state4 .rocket{
	transition: none;

}

body.body-state5 .rocket{
	border-bottom: 0px solid;
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}


body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}


.interface{
 	text-align: center;
 	padding: 20px;
}


a.button{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 20px;
	text-transform: uppercase;
	text-decoration: none;
}